body {
	background: #2f517b;
	color: #4b4b4b;
	font-family: 'Trebuchet MS', Helvetica;
	font-size: 11px;
}

#main {
	width: auto;
}

a {
	color: #3c87c7;
}
a:hover {
	color: #4497dd;
}

.clear{ clear: both; }

#header {
	margin: 0 auto; padding: 20px 0 20px 0;
	width: auto;
	background: #253d5a;
	color: #b6e4f0;
}
	#header h1 {
		float: left;
		font-size: 19px;
	}
	#header a{
		text-decoration: none;
		color: #fff;
	}
	#header span.seperator{
		display: inline;
		border-right: 1px dotted #fff;
	}
		#header h1 a {
			color: #b6e4f0;
		}
		
	#user_info {
		float: right;
	}
	
	#header #user_info a{ margin: 0 5px 0 0; }
	#header #user_info a:hover{ text-decoration: underline; }
	
#content{
	margin: 0 auto; padding: 20px 0 20px 0;
	width: 960px;
	position: relative;
}

.inner{
	margin: 0 auto;
	width: 960px;
}

/* Poster */

.inputs {
	padding: 30px;
	background: #FFF;
	width: 900px;
	-webkit-box-shadow: #18293e 0px 0px 8px;
	-moz-box-shadow: #18293e 0px 0px 8px;
}
	#poster_title {
		padding: 0px 0px 0px 0px; margin: 0px -2px 13px 0px;
		border: none;
		font-size: 24px;
		display: none;
	}
	#poster textarea.post_text {
		font-family: 'Trebuchet MS', Helvetica;
		margin: -3px 0px 0px 0px; 
		border: none;
		width: 900px;
		font-size: 18px;
		height: 20px;
	}
	#poster input.post_button {
		background: url('/media/imgs/post-button.png');
		width: 64px; height: 32px;
		border: none;
	}
	#poster .controls {
		padding: 3px 0px;
	}
	#poster .todos, #poster .attachemnts {
		margin: 5px 0px;
	}
	#poster .todos textarea {
		width: 300px;
		padding: 5px;
		font-size: 14px;
		height: 16px;
		margin: 3px 0px 0px 0px;
		display: inline;
	}
	#poster .extras {
		margin: 0px 460px 0px 0px;
		padding: 0px 0px 0px 15px;
		border-left: 1px dotted #969696;
		float: right;
	}
		#poster .controls select {
			width: 80px;
		}
	
/* Content Box */
#box {
	margin: 10px 0px 0px 0px;
	padding: 10px;
	background: #FFF;
}

/* Form */
	form.edit {
		font-size: 18px;
	}
		form.edit label {
			display: inline-block;
			width: 20%;
			font-size: 18px;
		}
		form.edit p {
			margin: 0px 0px 8px 0px; padding: 0px 0px 8px 0px;
			border-bottom: 1px dashed #EEE;
			font-size: 10px;
		}
		form.edit p input, form.edit p textarea {
			width: 79%;
			font-size: 18px;
		}

/* Notifications */

#notifications {
	padding: 10px;
	background: #fbf2d1;
}
#messages {
	padding: 10px; margin: 0px 0px 10px 0px;
	background: #fbf2d1;
}
	
/* Stream */

h2.day_title {
	margin: 30px 0px; padding: 0px 0px 0px 50px;
	font-size: 13px;
	color: #698fbd;
}

#stream {
	margin: 10px 0px 0px 0px;
	background: #FFF;
	float: left;
	width: 630px;
	-webkit-box-shadow: #dddddd 0px 0px 8px;
	-moz-box-shadow: #dddddd 0px 0px 8px;
}
	#stream.full_width {
		float: none;
		width: 100%;
	}
	#stream .item {
		margin: 0 0 10px 0; padding: 0;
		background: #f3f3f3;
		-moz-box-shadow: 1px 1px 4px #18293e;
		-webkit-box-shadow: 1px 1px 4px #18293e;
		box-shadow: 1px 1px 4px #18293e;
		line-height: 20px;
		float: left;
		clear: left;
		width: 960px;
	}
		#stream .info_header {
			padding: 5px 10px; margin: -15px -10px 10px -10px;
			background: #e0ebf9;
			color: #5a85ba;
		}
		#stream h1.title {
			margin: 0px 0px 20px 0px;
			font-size: 24px;
		}
			#stream h1 small {
				font-size: 18px;
				color: #999;
			}
		#stream .item.odd {
			/*background: #fbfbfc;*/
		}
		#stream .items .item:hover {
			background: #fbf2d1;
		}
		#stream .item .info {
			margin: 3px 0px 0px 0px;
			font-size: 12px;
			color: #cfcfcf;
		}
			#stream .item .info a {
				color: #cfcfcf;
			}
			#stream .item .controls {
				float: right;
			}
		#stream .latest_comment {
			margin: 4px 0px 0px 0px;
			padding: 4px 8px;
			background: #f6f6f6;
		}
			#stream .latest_comment h3 {
				font-weight: bold;
				color: #cfcfcf;
			}
			#stream .latest_comment h3, #stream .latest_comment {
				font-size: 12px;
			}
			#stream .latest_comment .comment {
				margin: 0px 0px 0px 0px;
			}
			#stream .item h2 {
				border-bottom: 1px dashed #E9E9E9;
			}
			#stream .item .todo_list {
				padding: 6px;
				background: #EEE;
			}
			
/* Edit Form */
.edit_form {
	/*display: none;*/
}
.edit_form textarea {
	width: 1024px;
	height: 350px;
	font-size: 15px;
}
.edit_form input.text {
	width: 1024px;
	font-size: 24px;
}
				
/* Post Info */
.post_info {
	padding: 10px;
	background: #efefef;
	color: #909191;
	font-size: 12px;
}
	.post_info strong {
		display: inline-block;
		width: 70px;
		color: #b4b4b4;
	}
	.post_info .info {
		margin: 0px 0px 6px 0px;
	}
	.post_info .controls {
		float: right;
		margin: 5px 0px 0px 0px;
	}
		.post_info .controls a {
			color: #FFF;
			text-decoration: none;
		}
		.post_info .controls a.left {
			padding: 3px 3px 3px 6px;
			background: #7acd7a;
			-webkit-border-top-left-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-top-left-radius: 10px;
			-moz-border-bottom-left-radius: 10px;
		}
		.post_info .controls a.right {
			padding: 3px 6px 3px 3px;
			background: #2d73af;
			-webkit-border-top-right-radius: 10px;
			-webkit-border-bottom-right-radius: 10px;
			-moz-border-top-right-radius: 10px;
			-moz-border-bottom-right-radius: 10px;
		}
				
/* Comments */
.comments {
	padding: 10px;
	font-size: 14px;
	color: #7d7d7d;
}
	.comment {
		margin: 0px 0px 14px 0px;
	}
	.comment.last {
		margin: 0px 0px 0px 0px;
	}
		.comment .info {
			margin: 7px 0px 0px 0px;
			font-size: 12px;
			color: #cfcfcf;
		}
form.add_comment {
	background: #efefef;
	padding: 10px;
}
	form.add_comment textarea {
		width: 1024px;
		height: 40px;
		font-size: 14px;
	}
	
/* Project */

.project_info {
	margin: 10px 0px 0px 20px;
	float: left;
	width: 399px;
	line-height: 20px;
	color: #979797;
}
	.project_info h1 {
		font-size: 30px;
		margin: 0px 0px 19px 0px;
		text-shadow: #FFF 0px 1px 0px;
		color: #676767;
	}
	.project_info .description {
		padding: 0px 0px 10px 0px;
		display: block;
		border-bottom: 4px solid #f7f7f7;
	}
	.project_info .description p {
		margin: 0px 0px 10px 0px;
		text-shadow: #FFF 0px 1px 0px;
	}
	.project_info h2 {
		margin: 20px 0px 15px 0px;
		padding: 0px 0px 5px 0px;
		font-size: 20px;
		color: #7d7d7d;
		border-bottom: 1px dotted #dbdbdb;
	}
	.project_info li {
		margin: 0px 0px 8px 0px;
		font-size: 14px;
		line-height: 13px;
		color: #aeadad;
		word-wrap: break-word;
	}
		.project_info li a {
			color: #aeadad;
		}
		.project_info li .info {
			display: block;
			color: #d3d3d3;
			font-size: 10px;
		}
	.project_info .list {
		margin: 0px 10px 0px 0px;
		width: 194px;
		float: left;
	}
		.project_info .list:last-child {
			margin: 0px 0px 0px 0px;
		}
		
/* List */
.list {
	padding: 10px;
}
	.list h1 {
		font-size: 30px;
		margin: 0px 0px 10px 0px;
	}

/* Skeleton */
#skel_box {
	background: #FFF;
	padding: 15px;
	margin: 50px auto;
	width: 500px;
}
	#skel_box h2 {
		font-size: 24px;
		margin: 0px 0px 10px 0px;
	}
	#skel_box form.edit p input {
		width: 385px;
	}
	
/* Footer */
#footer {
	margin: 12px 0px 0px 0px; padding: 50px 0px 25px 0px;
	color: #999;
	line-height: 23px;
	font-size: 13px;
	clear: both;
	text-align: center;
}
	#footer a {
		color: #999;
	}
	
.filter {
	margin: 0px 0px 10px 0px;
	color: #b6e4f0;
	text-align: right;
}