body {
	background: #2f517b;
	color: #4b4b4b;
	font-family: 'Trebuchet MS', Helvetica;
	font-size: 11px;
}

#main {
	width: auto;
}

a {
	color: #3c87c7;
	text-decoration: none;
}
a:hover {
	color: #4497dd;
	text-decoration: underline;
}

.clear{ clear: both; }
.hide { display: none; }

#header {
	margin: 0 auto; padding: 17px 0 17px 0;
	width: auto;
	background: red url('/media/imgs/top-header-background.png') repeat-x;
	color: #b6e4f0;
}
	#header h1 {
		float: left;
		font-size: 19px;
	}
	#header a{
		text-decoration: none;
		color: #fff;
	}
	#header span.seperator{
		display: inline;
		border-right: 1px dotted #fff;
	}
		#header h1 a {
			color: #b6e4f0;
		}
		
	#user_info {
		float: right;
		margin-top: 4px;
	}
	
	#header #user_info a{ margin: 0 5px 0 0; }
	#header #user_info a:hover{ text-decoration: underline; }
	.project_menu {
		font-size: 12px;
		color: #385374;
	}
	
#content{
	margin: 0 auto; padding: 20px 0 20px 0;
	width: 960px;
	position: relative;
}

.inner{
	margin: 0 auto;
	width: 960px;
}

/* Poster */

.inputs {
	margin: 0px 0px 0px 0px;
	padding: 30px;
	background: #FFF;
	width: 900px;
	-moz-box-shadow: 1px 1px 4px #18293e;
	-webkit-box-shadow: 1px 1px 4px #18293e;
	box-shadow: 1px 1px 4px #18293e;
}
	#poster_title {
		padding: 0px 0px 0px 0px; margin: 0px -2px 13px 0px;
		border: none;
		font-size: 24px;
		display: none;
	}
	#poster textarea.post_text {
		font-family: 'Trebuchet MS', Helvetica;
		margin: -3px 0px 30px 0px; 
		border: none;
		width: 900px;
		font-size: 18px;
		height: 20px;
	}
	#poster input.post_button {
		background: url('/media/imgs/post-button.png');
		width: 64px; height: 32px;
		border: none;
		cursor: pointer;
	}
	#poster .controls {
		padding: 3px 0px;
	}
	#poster .todos, #poster .attachemnts {
		margin: 5px 0px;
	}
	#poster .todos textarea {
		width: 300px;
		padding: 5px;
		font-size: 14px;
		height: 16px;
		margin: 3px 0px 0px 0px;
		display: inline;
	}
	#poster .between {
		margin: 0px 5px;
	}
	#poster .extras {
		margin: 0px 405px 0px 0px;
		padding: 0px 0px 0px 15px;
		border-left: 1px dotted #969696;
		float: right;
	}
		#poster .extras a {
			margin: 0px 10px 0px 0px;
		}
		#poster .controls select {
			width: 103px;
		}
	
/* Content Box */
#box {
	margin: 10px 0px 0px 0px;
	padding: 10px;
	background: #FFF;
}

/* Form */
	form.edit {
		font-size: 18px;
	}
		form.edit label {
			display: inline-block;
			width: 20%;
			font-size: 18px;
		}
		form.edit p {
			margin: 0px 0px 8px 0px; padding: 0px 0px 8px 0px;
			border-bottom: 1px dotted #aaaaaa;
			font-size: 10px;
		}
		form.edit p input, form.edit p textarea {
			width: 79%;
			font-size: 18px;
		}

/* Notifications */

#notifications {
	padding: 10px;
	background: #fbf2d1;
}
#messages {
	padding: 10px; margin: 0px 0px 10px 0px;
	background: #fbf2d1;
}
	
/* Stream */

.day_div {
	float: left;
	clear: left;
	background: url('/media/imgs/date-line.png') repeat-x 0px 8px;
	width: 940px;
	line-height: 20px;
	margin: 10px 0px 50px 0px;
	padding: 0px 0px 0px 20px;
	text-transform: lowercase;
}
	.day_div:first-child {
		margin: 45px 0px 50px 0px;
	}
h2.day_title {
	font-size: 13px;
	color: #698fbd;
}
	h2.day_title span {
		background: #2f517b;
		display: inline-block;
		padding: 0px 20px;
	}

#stream {
	margin: 10px 0px 0px 0px;
	float: left;
	width: 611px;
}

	#stream.full_width {
		float: none;
		width: 100%;
	}
	

	.item {
		margin: 0 0 40px 0; padding: 0;
		background: #f3f3f3;
		-moz-box-shadow: 0 1px 4px #111d2c;
		-webkit-box-shadow: 0 1px 4px #111d2c;
		box-shadow: 0 1px 4px #111d2c;
		line-height: 20px;
		float: left;
		clear: left;
		width: 960px;
		font-size: 13px;
		position: relative;
	}
		.project_items #stream .item {
			width: 600px;
		}
		#stream .item .item_content {
			padding: 30px 40px 30px 40px;
		}
		#stream .item .info {
			background: #264264;
			padding: 20px 40px;
		}
			#stream .item .info a.highlight {
				color: #ffd77f;
				text-decoration: none;
			}
		#stream .info_header {
			padding: 5px 10px; margin: -15px -10px 10px -10px;
			background: #e0ebf9;
			color: #5a85ba;
		}
		#stream h1.title {
			margin: 0px 0px 10px 0px;
			font-size: 24px;
		}
			#stream h1.title a {
				color: #4b4b4b;
				text-decoration: none;
			}
			#stream h1.title a:hover,
			#stream .item h1.title a.post_project_name:hover {
				color: #c5911f;
			}
			#stream h1 small {
				font-size: 18px;
				color: #999;
			}

		#stream .item .info {
			font-size: 13px;
			color: #cfcfcf;
			float: left;
			clear: left;
			width: 880px;
			color: #b6e4f0;
		}
			#stream .item h1.title a.post_project_name {
				display: block;
				font-size: 13px;
				color: #7c7c7c;
			}
			.project_items #stream .item .info {
				width: 520px;
			}
			#stream .item .info a {
				color: #ffd77f;
				text-decoration: none;
			}
			#stream .item .info a:hover {
				text-decoration: underline;
			}
			
			
/* Controls */	
	.item ul.controls {
		display: none;
		background: #FFF;
		border-top: solid 1px #a7a7a7;
		-moz-box-shadow: 0 1px 2px #AAA;
		-webkit-box-shadow: 0 1px 2px #AAA;
		box-shadow: 0 1px 2px #AAA;
		padding: 10px 10px 10px 20px;
		position: absolute;
		top: 20px;
		right: 40px;
		list-style: none;
		margin: 0;
	}
	.item:hover ul.controls {
		display: block;
	}
	.item ul.controls li {
		display: inline;
		margin-right: 10px;
		float: left;
	}
	.item ul.controls li a {
		color: #7c7c7c;
		text-decoration: none;
		padding: 0 0 0 20px;
	}
	.item ul.controls li a:hover {
		color: #c5911f;
		text-decoration: underline;
	}
	.item ul.controls li.board a {
		background: url('/media/imgs/star.gif') left center no-repeat transparent;
	}
	.item ul.controls li.task a {
		background: url('/media/imgs/tick.gif') left center no-repeat transparent;
	}
			
			
/* Comments & todo list */	
	#stream .latest_comment {
		float: left; clear: left;
		background: #f6f6f6;
		width: 880px;
		padding: 20px 40px 20px 40px;
	}
		#stream .latest_comment h3 {
			font-weight: bold;
			color: #cfcfcf;
		}
		#stream .latest_comment h3, #stream .latest_comment {
			font-size: 13px;
		}
		#stream .latest_comment .comment {
			margin: 0px 0px 0px 0px;
		}
		#stream .item h2 {
			border-bottom: 1px dotted #aaaaaa;
		}
		#stream .item .todo_list {
			padding: 13px; margin: 0px 0px 10px 0px;
			background: #e5e5e5;
		}
			#stream .item .todo_list p {
				margin: 3px 0px 0px 0px;
			}
			#stream .item .todo_list p:first-child {
				margin: 0px 0px 0px 0px;
			}
			#stream .item .todo_list i {
				font-size: 10px;
				color: #a5a5a5;
			}
			

/* Tasks */
.item_complete {
	margin: 0 0 20px 0; padding: 10px 30px;
	background: #264264; /* 7591b4 */
	/*-moz-box-shadow: 1px 1px 4px #18293e;
	-webkit-box-shadow: 1px 1px 4px #18293e;
	box-shadow: 1px 1px 4px #18293e;*/
	line-height: 20px;
	float: left;
	clear: left;
	width: 900px;
	font-size: 13px;
}
	.item_complete a {
		color: #FFF;
	}
	#stream .item_complete h1.title {
		font-size: 14px;
		float: left;
		margin: 0px 0px 0px 0px;
		color: #f3f3f3;
	}
	.item_complete .reopen_info {
		float: right;
	}

		
/* Edit Form */
.edit_form {
	/*display: none;*/
	padding: 30px;
}
.edit_form label {
	float: left;
	display: block;
	width: 75px;
	margin: 0px 10px 0px 0px;
	text-align: right;
}
.edit_form textarea {
	width: 795px;
	font-size: 24px;
	border: 1px solid #a5a5a5;
	font-size: 14px;
	padding: 7px 9px;
	margin: 0px 0px 10px 0px;
	height: 350px;
	font-family: 'Trebuchet MS', Helvetica;
}
	.edit_form .todo_edit textarea {
		display: inline;
		width: 200px;
		height: 20px;
	}
.edit_form .edit_attachments {
	width: 795px;
	float: left;
}
.edit_form textarea:focus, .edit_form input.text:focus {
	-moz-box-shadow: 1px 1px 4px #adb5be;
	-webkit-box-shadow: 1px 1px 4px #18293e;
	box-shadow: 1px 1px 4px #18293e;
}
.edit_form input.text {
	width: 795px;
	font-size: 24px;
	border: 1px solid #a5a5a5;
	font-size: 16px;
	padding: 7px 9px;
	margin: 0px 0px 20px 0px;
}
.edit_form .edit_footer {
	margin: 15px 0px 30px 0px;
	padding: 15px 0px 0px 0px;
	border-top: 1px dotted #aaaaaa;
	float: left;
	width: 900px;
}
.edit_form .edit_header {
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 15px 0px;
	border-bottom: 1px dotted #aaaaaa;
	float: left;
	width: 900px;
	font-size: 22px;
}
.edit_form .edit_attachments h1 {
	margin: 0px 0px 15px 0px;
}
a.delete_soft_item_edit, a.delete_soft_item {
	background: url('/media/imgs/delete-off.png') no-repeat;
	width: 14px;
	height: 12px;
	display: inline-block;
}
	a.delete_soft_item_edit:hover, a.delete_soft_item:hover {
		background: url('/media/imgs/delete-over.png') no-repeat;
	}
/* Post Info */
.post_info {
	padding: 10px;
	background: #efefef;
	color: #909191;
	font-size: 12px;
}
	.post_info strong {
		display: inline-block;
		width: 70px;
		color: #b4b4b4;
	}
	.post_info .info {
		margin: 0px 0px 6px 0px;
	}
	.post_info .controls {
		float: right;
		margin: 5px 0px 0px 0px;
	}
		.post_info .controls a {
			color: #FFF;
			text-decoration: none;
		}
		.post_info .controls a.left {
			padding: 3px 3px 3px 6px;
			background: #7acd7a;
			-webkit-border-top-left-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-top-left-radius: 10px;
			-moz-border-bottom-left-radius: 10px;
		}
		.post_info .controls a.right {
			padding: 3px 6px 3px 3px;
			background: #2d73af;
			-webkit-border-top-right-radius: 10px;
			-webkit-border-bottom-right-radius: 10px;
			-moz-border-top-right-radius: 10px;
			-moz-border-bottom-right-radius: 10px;
		}

/* File List */
.item .files {
	margin: 20px 0px 0px 0px;
	padding: 15px 0px 0px 0px;
	border-top: 1px dotted #aaaaaa;
}
	.item .files a {
		color: #7c7c7c;
		font-size: 13px;
	}
				
/* Comments */
.comment_div {
	padding: 30px;
	background: #e5e5e5;
}
.comments {
	font-size: 14px;
	color: #555555;
}
	.comment {
		margin: 0px 0px 14px 0px; padding: 0px 0px 15px 0px;
		border-bottom: 1px dotted #aaaaaa;
	}
	.comment.last {
		margin: 0px 0px 0px 0px;
	}
		.comment .comment_info {
			color: #333333;
			margin: 0px 0px 10px 0px;
		}
		.comment .posted {
			color: #808080;
			font-style:italic;
			font-size: 10px;
		}
	form.add_comment textarea {
		width: 900px;
		height: 40px;
		font-size: 14px;
	}
	
/* Project */

.project_info {
	margin: 10px 0px 0px 20px;
	float: left;
	width: 329px;
	line-height: 20px;
	color: #979797;
}
	.project_info h1 {
		font-size: 21px;
		margin: 0px 0px 19px 0px;
		color: #FFF;
	}
	.project_info .description {
		padding: 0px 0px 10px 0px;
		display: block;
		border-bottom: 4px solid #264264;
		color: #bbe1eb;
		font-size: 13px;
	}
	.project_info .description p {
		margin: 0px 0px 10px 0px;
	}
	.project_info h2 {
		margin: 10px 0px 5px 0px;
		padding: 0px 0px 5px 0px;
		font-size: 13px;
		color: #fff;
	}
	.project_info li {
		margin: 0px 0px 8px 0px;
		font-size: 14px;
		line-height: 13px;
		color: #d0e9ef;
		word-wrap: break-word;
	}
		.project_info li a {
			color: #d0e9ef;
			text-decoration: none;
		}
		.project_info li .info {
			display: block;
			color: #d3d3d3;
			font-size: 10px;
		}
	.project_info .list {
		margin: 0px 10px 0px 0px;
		width: 124px;
		float: left;

	}
		.project_info .list:last-child {
			margin: 0px 0px 0px 0px;
		}
		
/* List */
.list {
	padding: 10px;
}
	.list h1 {
		font-size: 30px;
		margin: 0px 0px 10px 0px;
	}

/* Skeleton */
#skel_box {
	background: #FFF;
	padding: 15px;
	margin: 50px auto;
	width: 500px;
}
	#skel_box h2 {
		font-size: 24px;
		margin: 0px 0px 10px 0px;
	}
	#skel_box form.edit p input {
		width: 385px;
	}
	
/* Footer */
#footer {
	margin: 12px 0px 0px 0px; padding: 50px 0px 25px 0px;
	color: #385c88;
	line-height: 23px;
	font-size: 13px;
	clear: both;
	text-align: center;
}
	#footer a {
		color: #385c88;
	}
	
.filter {
	margin: 0px 0px 17px 0px;
	color: #b6e4f0;
	text-align: right;
}
	.nav {
		margin: 3px 0px 0px 0px;	
		float: left;
	}
	.nav.offpage {
		margin: 3px 0px 18px 0px;
	}
		.nav a {
			color: #b6e4f0;
			text-decoration: none;
		}