<script src="/media/js/avts.clonemore.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	$(function(){
		var attachments_hidden = true;
		
		$("select#id_assigned").hide();
		$('div.attachemnts').hide();
		
		$("a.assign_poster").click(function(e){
			e.preventDefault();
			$("select#id_assigned").show();
		});
		
		$('a.add_poster_file').click(function(e){
			$('div.attachemnts').show();
			e.preventDefault();
			if (attachments_hidden) {
				attachments_hidden = false;
				return;
			}
			cloneMore('div.attachemnts p:last', 'files');
		});
	});
</script>

<div id="poster">
	<form method="post" id="main_poster" enctype="multipart/form-data">
		{{formset.management_form}}
		<div class="inputs">
			<input name="title" id="poster_title">
			<textarea name="content" class='autosize' id="poster_textarea">Type your message here...</textarea>
		</div>
		<div class="assigner">
			<select multiple="multiple" name="assigned" id="id_assigned">
				{% for u in users %}
					<option value="{{u.id}}">{{u.get_profile.get_name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="attachemnts">
			{% for form in formset.forms %}
				{{form.as_p}}
			{% endfor %}
		</div>
		<div class="controls">
			<input type="submit" value="Post in" id="Add" />
			<select name="project">
				<option value="0">Main Stream</option>
				{% for p in projects %}
					{% ifequal p.id project_id  %}
						<option selected='true' value="{{p.id}}">{{p.title}}</option>
					{% else %}
						<option value="{{p.id}}">{{p.title}}</option>
					{% endifequal %}
				{% endfor %}
			</select>
			| 
			<a href="#" class="add_poster_file">Attach File</a> | <a href="#" class="assign_poster">Assign</a>
		</div>
	</form>
</div>