{% extends "base.html" %}
{% load markup %}
{% load post_tags %}
{% load post_filters %}

{% block js %}
	<script src="/media/js/avts.edit.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}	
	<div id="stream" class="full_width">
		
		<div class='post_info'>
			
			<span class='controls'>
				{% if user|ispined:post %}<a class='left' href="{% url unpin post.id %}?next={% url post post.id %}">Unpin</a>{% else %}<a class='left' href="{% url pin post.id %}?next={% url post post.id %}">Pin to board</a>{% endif %}{% if user|istask:post %}<a class='right' href="{% url remove_task post.id %}?next={% url post post.id %}">Remove from tasks</a>{% else %}<a class='right' href="{% url add_task post.id %}?next={% url post post.id %}">Add to tasks</a>{% endif %}
			</span>
			
			<div class='info'><strong>Author:</strong> {{post.author.get_profile.get_name}}</div>
			<div class='info'><strong>Date:</strong> {{post.posted_date|date:"D d, M Y"}}</div>
			{% if post.project %}
			<div class='info'><strong>Project:</strong> <a href="{% url project post.project.id %}">{{post.project.title}}</a></div>
			{% endif %}
			{% ifequal user post.author %}
			<div class='info'><strong>Controls:</strong> <a href="#" class='show_edit_form'>Edit</a></div>
			{% endifequal %}
			{% if user.is_superuser %}
				<div class='info'><strong>Admin:</strong> <a href="{% url delete_post post.id %}">Delete</a></div>
			{% endif %}
		</div>
		
		<div class='item'>
			
			<span class='post_text'>
				<h1 class='title'>{{post.title}}</h1>
				
				{% if post.todoitem_set.all %}
					<div class='todo_list'>
						{% for todo in post.todoitem_set.all %}
							{% if not todo.is_completed %}
								<p>{{todo.content}} | <a href="{% url complete_todo todo.id %}">Complete</a></p>
							{% else %}
								<p>{{todo.content}} | completed by {{todo.completed_by.get_profile.get_name}} {{todo.completed_date|timesince}} ago</p>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
				
				{{post.content|urlize|textile}}
				
				{% if post.postfile_set.all %}
				<div class="files">
					<h2>Files</h2>
					{% for f in post.postfile_set.all %}
						<a href="/media/{{f.file}}" target="_blank">{{f.get_name}}</a><br/>
					{% endfor %}
				</div>
				{% endif %}
			</span>
			{% ifequal user post.author  %}
				<form class="edit_form" method="post" action="{% url edit_post post.id %}">
					<input name='title' class='text' value="{{post.title}}">
					<textarea name='content'>{{post.content}}</textarea>
					<input type="submit" value="Save Changes"> <a href="#" class="cancel_edit">Nevermind</a>
				</form>
			{% endifequal %}
		</div>
		
		
		<div class='comments'>
			{% for comment in post.comment_set.all %}
				{% comment comment %}
			{% empty %}
				<div class='comment last'>
					There are no comments yet.
				</div>
			{% endfor %}
		</div>
		
		<form method="post" class='add_comment' id="comments">
			<textarea class='autosize' name='comment'></textarea>
			<input type='submit' value='Add Comment' />
		</form>
		
	</div>
{% endblock %}