{% load post_tags %}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>River</title>
	<link rel="stylesheet" href="/media/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/media/css/frontend.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/media/css/markdown.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<script src="/media/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/media/js/jquery.autosize.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/media/js/avts.autosize.js" type="text/javascript" charset="utf-8"></script>
	<script src="/media/js/avts.script.js" type="text/javascript" charset="utf-8"></script>
	{% block js %}{% endblock %}
</head>

<body>

<div id="main">
	<div id="header">
		<div class="inner">
			<h1><a href="{% url main_stream %}">River</a><!--<span class='project'>{% if project %}{% project_menu project.id %}{% else %}{% project_menu %}{% endif %}</span>--></h1>
			<div id="user_info">
				<p>Welcome back {{user.get_profile.get_name}} <span class="seperator">&nbsp;</span> &nbsp; <a href="{% url user_profile %}">profile</a> <a href="{% url log_out %}">logout</a>  
				
				<!--<a href="{% url user_board %}">Board</a> 
				<a href="{% url user_tasks %}">Tasks</a>-->
				</p>
			</div>
			<div class="clear"></div>
		</div>
		{% block header %}
			
		{% endblock %}
	</div>
	
	<div id="content">
		{% if messages %}
			<div id="messages">
				{% for m in messages %}
					{{m}}
				{% endfor %}
			</div>
		{% endif %}
		{% block content %}
			
		{% endblock %}
	</div>
	
	<div id="footer">
		<p>River 0.0.6 | Changelog and more info on <a href="http://github.com/benmills/River/">github</a></p>
	</div>
</div>
</body>
</html>
