{% extends "base.html" %}
{% load post_tags %}
{% load post_filters %}
{% load markup %}

{% block content %}
	<div id="stream" class="full_width">
		{% for t in tasks %}
		<div class='item'>
			<h1 class="title">{{t.post.title}} {% if t.assigned_by %}<small>Assigned By {{t.assigned_by.get_profile.get_name}}</small>{% endif %}</h1>
			{{t.post.content|textile|mediaize|safe}}
			<div class='info'>
				Posted by {{t.post.author.get_profile.get_name}} {{t.post.posted_date|timesince}} ago
				{% if s.project %}
					in <a href="{% url project s.project.id %}">{{t.post.project.title}}</a>
				{% endif %} | <a href="{% url post t.post.id %}">View this post</a> | <a href="{% url post t.post.id %}#comments">{{t.post.comment_count}}</a>
				<span class='controls'>
					{% if user|ispined:t.post %}<a class='left' href="{% url unpin t.post.id %}?next={{request.path}}">Unpin</a>{% else %}<a class='left' href="{% url pin t.post.id %}?next={{request.path}}">Pin to board</a>{% endif %}
					 | {% if user|istask:t.post %}<a class='right' href="{% url remove_task t.post.id %}?next={{request.path}}">Remove from tasks</a>{% else %}<a class='right' href="{% url add_task t.post.id %}?next={{request.path}}">Add to tasks</a>{% endif %}
					 | <a href="{% url complete_task t.id %}">{% if t.is_completed %}Reopen Task{% else %}Complete Task{% endif %}</a>
				</span>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}